name: CI

on:
  push:
    branches: [ main, barcode ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.1'
      - name: Install dependencies
        run: gem install bundler && bundle install --jobs 4 --retry 3
      - name: Run RuboCop
        run: bundle exec rubocop || true
      - name: Run RSpec
        run: bundle exec rspec